@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
    Add accessible line-height
    Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
}
body .btn {
  outline: none;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  padding: 0.5em 1em;
  border-radius: 0.75em;
  cursor: pointer;
}
body .btn:hover {
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  padding: 0 4%;
}
body header .left-side {
  display: flex;
  align-items: center;
}
body header .left-side #logo {
  height: 1.5em;
  margin: 0 3.5em -0.95em 0;
}
body header .left-side .navbar {
  position: relative;
}
body header .left-side .navbar .navbar-item {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
}
body header .left-side .navbar .navbar-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  gap: 0.25em;
  font-size: 0.85em;
  transition: all 0.5s ease-in-out;
}
body header .left-side .navbar .navbar-item a img {
  height: 0.4em;
  transition: all 0.5s ease-in-out;
}
body header .left-side .navbar .navbar-item a:hover {
  color: hsl(0, 0%, 8%);
}
body header .left-side .navbar .navbar-item .dropdown {
  display: none;
  position: absolute;
  top: 40px;
  padding: 0.75em 1em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 25px hsl(0, 3%, 73%);
}
body header .left-side .navbar .navbar-item .dropdown .dropdown-item {
  list-style: none;
  margin: 8px 0;
}
body header .left-side .navbar .navbar-item .dropdown .dropdown-item a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  text-align: start;
}
body header .left-side .navbar .navbar-item .dropdown .dropdown-item a img {
  height: 0.9em;
  margin-right: 0.5em;
}
body header .left-side .navbar .navbar-item .dropdown .dropdown-item a:hover {
  color: hsl(0, 0%, 8%);
}
body header .left-side .navbar .navbar-item .show-dropdown {
  display: block;
}
body header .left-side .navbar .navbar-item #first-dropdown-content {
  left: -35px;
}
body header .right-side {
  display: flex;
  align-items: center;
  gap: 2em;
}
body header .right-side a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
body header .right-side a:hover {
  color: hsl(0, 0%, 8%);
}
body header .right-side #menu {
  display: none;
}
body header .side-menu {
  display: none;
}
body main {
  height: 70vh;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(400px, auto) minmax(400px, auto);
  place-items: center;
}
body main .left-side {
  position: relative;
  right: -75px;
  top: 30px;
  width: 600px;
  height: 90%;
}
body main .left-side .left-side-content {
  height: 85%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}
body main .left-side .left-side-content h1 {
  font-size: 4.5em;
  line-height: 1em;
  letter-spacing: 2px;
  width: 82%;
}
body main .left-side .left-side-content p {
  font-size: 1em;
  color: hsl(0, 0%, 41%);
  letter-spacing: 0.5px;
  width: 75%;
}
body main .left-side .left-side-content button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  transition: all 0.2s ease-in-out;
}
body main .left-side .left-side-content button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}
body main .left-side .left-side-footer {
  height: 15%;
  display: flex;
  align-items: flex-end;
}
body main .left-side .left-side-footer img {
  margin-right: 3em;
}
body main .left-side .left-side-footer #one {
  height: 1em;
}
body main .left-side .left-side-footer #two {
  height: 1.75em;
  position: relative;
  top: 7px;
}
body main .left-side .left-side-footer #three {
  height: 1em;
}
body main .left-side .left-side-footer #four {
  height: 1.3em;
}
body main .right-side {
  width: 25vw;
}
body .attribution {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  font-size: 0.85em;
  text-align: center;
}
body .attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 0.95em;
}

@media only screen and (max-width: 1200px) {
  body main .left-side {
    width: 380px;
    height: 75%;
  }
  body main .left-side .left-side-content h1 {
    font-size: 2.75em;
  }
  body main .left-side .left-side-content p {
    font-size: 0.8em;
  }
  body main .left-side .left-side-footer img {
    margin-right: 1em;
  }
}
@media only screen and (max-width: 1024px) {
  body main .left-side {
    width: 320px;
    height: 65%;
  }
  body main .left-side .left-side-content h1 {
    font-size: 2.3em;
  }
  body main .left-side .left-side-content p {
    font-size: 0.8em;
  }
  body main .left-side .left-side-footer img {
    margin-right: 1em;
  }
  body main .left-side .left-side-footer #one {
    height: 0.85em;
  }
  body main .left-side .left-side-footer #two {
    height: 1.45em;
    position: relative;
    top: 7px;
  }
  body main .left-side .left-side-footer #three {
    height: 0.85em;
  }
  body main .left-side .left-side-footer #four {
    height: 1.1em;
  }
}
@media only screen and (max-width: 992px) {
  body header .left-side {
    position: relative;
  }
  body header .left-side .navbar {
    display: none;
  }
  body header .right-side a, body header .right-side button {
    display: none;
  }
  body header .right-side #menu {
    display: block;
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */