@import "./reset";
@import "./constants";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

body {
  height: 100vh;
  width: 100vw;
  background-color: $almost-white;
  font-family: "Poppins", sans-serif;
  position: relative;
  @include flex-center;

  .btn {
    outline: none;
    background-color: transparent;
    border: 1px solid $medium-gray;
    color: $medium-gray;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    cursor: pointer;

    &:hover {
      color: $almost-black;
      border: 1px solid $almost-black;
    }
  }

  header {
    @include flex-center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    padding: 0 4%;

    .left-side {
      @include flex-center;

      #logo {
        height: 1.5em;
        margin: 0 3.5em -0.95em 0;
      }

      .navbar {
        position: relative;

        .navbar-item {
          display: inline-block;
          list-style: none;
          padding: 0 1em;

          a {
            @include flex-center;
            text-decoration: none;
            color: $medium-gray;
            gap: 0.25em;
            font-size: 0.85em;
            transition: all 0.5s ease-in-out;

            img {
              height: 0.4em;
              transition: all 0.5s ease-in-out;
            }

            &:hover {
              color: $almost-black;
            }
          }

          .dropdown {
            display: none;
            position: absolute;
            top: 40px;
            padding: 0.75em 1em;
            border-radius: 10px;
            background-color: white;
            box-shadow: 1px 1px 25px hsl(0, 3%, 73%);

            .dropdown-item {
              list-style: none;
              margin: 8px 0;

              a {
                text-decoration: none;
                color: $medium-gray;
                text-align: start;

                img {
                  height: 0.9em;
                  margin-right: 0.5em;
                }

                &:hover {
                  color: $almost-black;
                }
              }
            }
          }

          .show-dropdown {
            display: block;
          }

          #first-dropdown-content {
            left: -35px;
          }
        }
      }
    }

    .right-side {
      @include flex-center;
      gap: 2em;

      a {
        text-decoration: none;
        color: $medium-gray;

        &:hover {
          color: $almost-black;
        }
      }

      #menu{
        display: none;
      }
    }

    .side-menu{
      display: none;
    }
  }

  main {
    height: 70vh;
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(400px, auto) minmax(400px, auto);
    place-items: center;

    .left-side {
      position: relative;
      right: -75px;
      top: 30px;
      width: 600px;
      height: 90%;

      .left-side-content {
        height: 85%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
          font-size: 4.5em;
          line-height: 1em;
          letter-spacing: 2px;
          width: 82%;
        }

        p {
          font-size: 1em;
          color: $medium-gray;
          letter-spacing: 0.5px;
          width: 75%;
        }

        button{
          background-color: $almost-black;
          color: $almost-white;
          transition: all .2s ease-in-out;
          
          &:hover{
            background-color: $almost-white;
            color: $almost-black;
          }
        }
      }

      .left-side-footer {
        height: 15%;
        display: flex;
        align-items: flex-end;

        img {
          margin-right: 3em;
        }

        #one {
          height: 1em;
        }

        #two {
          height: 1.75em;
          position: relative;
          top: 7px;
        }

        #three {
          height: 1em;
        }

        #four {
          height: 1.3em;
        }
      }
    }

    .right-side {
      width: 25vw;
    }
  }

  .attribution {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    font-size: 0.85em;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
      font-size: 0.95em;
    }
  }
}

@media only screen and (max-width: 1200px) {
  body {
    main {
      .left-side {
        width: 380px;
        height: 75%;

        .left-side-content {
          h1 {
            font-size: 2.75em;
          }

          p {
            font-size: 0.8em;
          }
        }

        .left-side-footer {
          img {
            margin-right: 1em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    main {
      .left-side {
        width: 320px;
        height: 65%;

        .left-side-content {
          h1 {
            font-size: 2.3em;
          }

          p {
            font-size: 0.8em;
          }
        }

        .left-side-footer {
          img {
            margin-right: 1em;
          }

          #one {
            height: .85em;
          }

          #two {
            height: 1.45em;
            position: relative;
            top: 7px;
          }

          #three {
            height: .85em;
          }

          #four {
            height: 1.1em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px){
  body{
    header {
      .left-side {
        position: relative;

        .navbar{
          display: none;
        }
      }

      .right-side {

        a, button{
          display: none;
        }

        #menu {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}